.CardPariwisata {
    position: relative;
    width: 310px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 13px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 5px;
}

.CardPariwisata-location {
    margin-left: 13px;
    width: auto;
    max-height: fit-content;
    max-width: fit-content;
    max-height: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: #EBF4FE;
    margin: 5px;
    border-radius: 10px;
}

.CardPariwisata-location p {
    font-size: 12px;
    margin: 2px 3px; 
}

.CardPariwisata-location img {
    margin-left: 4px;
    margin: 2px 3px;
}

.CardPariwisata-image{
    width: auto;
    margin: 7px;
    margin-bottom: 0px;
}

.CardPariwisata-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.CardPariwisata-content {
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;
    margin-top: 0px;
}

.CardPariwisata-content p {
    font-size: 14px;
    margin-left: 8px;
}

.CardPariwisata-content a {
    margin-left: auto;
    margin-right: 7px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
}

.CardPariwisata-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}