.test {
    height: 50px;
    width: auto;
    max-width: fit-content;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.test-bar{
    height: 20px;
    width: 120px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.test-bar div {
    width: 100%;
    height: 100%;
    background-color:aqua;
}

.test-count {
    margin-left: 15px;
    font-size: 15px;
}